In [4]:
from os import listdir
from os.path import isfile, join
import pandas as pd

In [7]:
path = '../scrape/results/2022-03-16/PM_06:12_NZ_-_Ashburton_4'

In [13]:
details = pd.read_csv(f'{path}/details.csv', index_col=False)
details

,Unnamed: 0,distance,race type,race class,surface name,default condition
0,0,6f,Thoroughbred,Maiden Special,Turf,Firm

In [9]:
results = pd.read_csv(f'{path}/results.csv')
results

   Unnamed: 0  ranking  horse number  horse name   win  place show
0           0        1             6  Dubai Lady  6.00   2.80    -
1           1        2             3     Mr Hass     -  11.40    -
2           2        3             8        Deny     -   2.40    -
3           3        4            10  Lit'l Rock     -      -    -

In [ ]:
results = pd.read_csv(f'{path}/results.csv')
results

In [16]:
racecard_left = pd.read_csv(f'{path}/racecard_left.csv')
racecard_left.shape[0]

,Unnamed: 0,number,runner odds,race morning odds,name,age,gender,sire dam
0,0,1,6,5,Easyrider,6,G,Super Easy - Miss Katella
1,1,2,11,12,The Cats Pyjamas,6,G,Battle Paint - Troika
2,2,3,14,26,Mr Hass,7,G,Dalghar - Penny Arcade
3,3,4,35,26,Fah Lun,4,G,Shocking - Miss Rio
4,4,5,25,34,Galibier,4,G,Turn Me Loose - Lalonde
5,5,6,2,3,Dubai Lady,5,M,Pride Of Dubai - Princeton Miss
6,6,7,5,15/2,Movie Star,5,M,Showcasing - Theatrics
7,7,8,4,10,Deny,5,M,Power - Sunbeam
8,8,9,14,12,Midnight Jane,6,M,Zoffany - Midnight Van Damme
9,9,10,9,6,Lit'l Rock,5,M,El Roca - Kirra
10,10,11,-,-,Swiss 'n' Giggles,4,F,Swiss Ace - Kokkei
11,11,12,25,47,Love Fifteen,4,F,Telperion - Affiance
12,12,13,30,12,Walk Of Shame,4,F,Ghibellines - Volonte

In [18]:
path = '../scrape/results'
dates = [f for f in listdir(path) if not isfile(join(path, f))]

max_size = 0
max_race = ''
for i, d in enumerate(dates):
    if i != 1:
        continue
    races = [f for f in listdir(f'{path}/{d}') if not isfile(join(f'{path}/{d}', f))]
    for r in races:
        csvs = [f for f in listdir(f'{path}/{d}/{r}') if isfile(join(f'{path}/{d}/{r}', f))]
#         details = pd.read_csv(f'{path}/{d}/{r}/details.csv')
#         print(details.head())
#         results = pd.read_csv(f'{path}/{d}/{r}/results.csv')
#         print(results)
        if 'racecard_left.csv' in csvs:
            racecard_left = pd.read_csv(f'{path}/{d}/{r}/racecard_left.csv')
            if racecard_left.shape[0] > max_size:
                max_size = racecard_left.shape[0]
                max_race = r
            
#         print(racecard_left)
#         racecard_summ = pd.read_csv(f'{path}/{d}/{r}/racecard_summ.csv')
#         print(racecard_summ)
#         racecard_snap = pd.read_csv(f'{path}/{d}/{r}/racecard_snap.csv')
#         print(racecard_snap)
#         racecard_spee = pd.read_csv(f'{path}/{d}/{r}/racecard_spee.csv')
#         print(racecard_spee)
#         racecard_pace = pd.read_csv(f'{path}/{d}/{r}/racecard_pace.csv')
#         print(racecard_pace)
#         racecard_jock = pd.read_csv(f'{path}/{d}/{r}/racecard_jock.csv')
#         print(racecard_jock)
#         pools = pd.read_csv(f'{path}/{d}/{r}/pools.csv')
#         print(pools)
#         print(r)
#         break
#     break
max_size

26